/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --light-blue: #F3F3F7;
    --dark-blue: #26283B;
    --strong-blue: hsl(234, 100%, 29%);
    --middle-blue: hsl(234, 22%, 59%);
    --red: #E13D4C;
    --light-red: hsl(355, 73%, 80%);
    --strong-red: hsl(355, 100%, 56%);
    --roof-red: #C7535E;
}

::-webkit-scrollbar {
    width: 12px;
    border-right: 7px solid rgba(0, 0, 0, 0.01);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--dark-blue); 
    background-color: var(--light-blue);
    position: absolute;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px var(--dark-blue); 
    background-color: var(--middle-blue);
}

@supports (scrollbar-color: var(--dark-blue) var(--light-blue)){ /*Customizing for firefox and other browsers*/
    * {
        scrollbar-color: var(--dark-blue) var(--light-blue);
        scrollbar-width: thin;
    }
}

body {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    width: 100%;
}

.page-container {
    max-width: 2560px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 64px;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
}

h2 {
    font-size: 48px;
    text-decoration: underline;
    font-weight: 800;
    margin-bottom: 8px;
    text-align: center;
}

h3 {
    font-size: 34px;
    font-weight: 800;
    text-align: center;
}

h4 {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    font-weight: 600;
}

p,
li {
    font-size: 20px;
}

#index-h1,
#index-h3,
#abanner-h1,
#abanner-h5,
#chero-text h1,
#chero-text h3,
#contact-text h2,
#contact-text h3,
.cinfo-text h3 {
    text-align: left;
    margin-bottom: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
}

button {
    font-size: 20px;
    color: var(--light-blue);
    background-color: var(--red);
    text-decoration: underline;
    font-variant: small-caps;
    padding: 6px 16px;
    border-radius: 16px;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 200ms ease-out;
}

button:hover {
    text-decoration: none;
    background-color: var(--strong-red);
    text-shadow: 0 0 2px var(--light-blue);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .logo-container {
    color: var(--roof-red);
}

#nav-logo {
    height: 80px;
    width: 100px;
    background-image: url(Resources/Avey-logo-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hamburger {
    background-color: var(--red);
    padding: 4px 8px;
    border: 8px outset var(--strong-red);
    cursor: pointer;
    transition: 500ms;
    display: none;
}

.hamburger:hover {
    background-color: var(--strong-red);
}

.bar {
    display: block;
    background-color: var(--light-blue);
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 500ms;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

#nav-links li {
    font-variant: small-caps;
    transition: 200ms ease-out;
    font-weight: 600;
}

.reg-nav {
    text-decoration: underline;
}

.reg-nav:hover {
    text-decoration: none;
    text-shadow: 0 0 2px var(--middle-blue);
}

#call-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    transform: translateY(14px);
}

#nav-call {
    background-color: var(--dark-blue);
    margin-bottom: 8px;
    z-index: 2;
}

#nav-call:hover {
    background-color: var(--strong-blue);
}

#nav-call-number {
    transform: translateY(-35px);
    color: var(--light-blue);
    z-index: 1;
    transition: 500ms ease-out;
}

/*Index.html*/
#index-banner {
    height: 600px;
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 32px;
}

#ibanner-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
}

#index-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}

#index-one img {
    height: 500px;
    width: 35%;
    background-color: green;
}

#i1-text {
    width: 60%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
}

#i1-text h2 {
    text-align: left;
    margin-bottom: 16px;
}

#reasons-container {
    margin: 32px 0;
    display: grid;
    grid-template: repeat(2, 200px) / repeat(3, 1fr);
    justify-content: space-around;
    gap: 64px;
}

.reason {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
}

.reason-text h4 {
    text-align: center;
}

.reason-text p {
    text-align: justify;
}

#reasons-container img {
    height: 100px;
    width: 100px;
    background-color: green;
}

#index-three {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#index-services-grid {
    width: 100%;
    background-color: var(--light-blue);
    display: grid;
    grid-template: repeat(2, 200px) / repeat(5, 1fr);
    gap: 8px;
}

.is-block {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px outset var(--dark-blue);
    cursor: pointer;
    transition: 200ms ease-in;
}

.is-block:hover {
    background-color: var(--middle-blue);
}

.is-block > h4 {
    font-size: 27px;
    text-decoration: none;
}

.empty-block {
    grid-column: span 1;
    cursor: default;
}

.invisible-block {
    display: none;
}

#index-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#index-ba-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px 0;
}

.ba-image {
    background-color: green;
    border-radius: 64px;
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    --position: 50%;
}

.ba-img-container {
    height: 500px;
    width: 400px;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transition: 200ms ease-out;
}

.ba-before {
    position: absolute;
    inset: 0;
    width: var(--position);
}

.slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
}

.slider-line {
    position: absolute;
    inset: 0;
    width: 8px;
    height: 100%;
    background-color: var(--light-blue);
    z-index: 3;
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
    transition: 200ms ease-out;
}

.slider-button {
    position: absolute;
    text-decoration: none;
    border-radius: 100vw;
    height: 60px;
    width: 60px;
    padding: 0px;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    z-index: 4;
    transition: 200ms ease-out;
    border: 4px outset var(--red);
}

/*.ba-line {
    height: 100%;
    width: 16px;
    background-color: var(--red);
    left: 50%;
    position: absolute;
    z-index: 3;
    cursor:grab;
}

.ba-line:active {
    cursor: grabbing;
}

.ba-before,
.ba-after {
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.ba-before {
    max-width: 100%;
    min-width: 0%;
    width: 50%;
    z-index: 2;
    background-image: url();
    background-image: url(Resources/Try1.jpg);
}

.ba-after {
    width: 100%;
    z-index: 1;
    background-image: url(Resources/Try2.jpg);
}

.img-before,
.img-after {
    height: 500px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-before {
    background-image: url(Resources/Try1.jpg);
    background-position: left;
}

.img-after {
    background-image: url(Resources/Try2.jpg);
    background-position: center;
    transform: translateX(-200px);
}*/

#makeover-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px 0;
}

.mostep-box {
    height: 300px;
    width: 300px;
    background-color: var(--dark-blue);
    border-radius: 32px;
    box-shadow: 8px 8px 8px 0 var(--middle-blue);
    transition: 700ms ease;
}

.mostep-box:hover {
    box-shadow: none;
}

.mostep-image {
    border-radius: 32px 32px 0 0;
    height: 100px;
    width: 100%;
}

.mostep-text {
    color: var(--light-blue);
    padding: 16px;
    text-align: left;
}

#index-six {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: 48px 0;
    margin: 64px 0;
    border-top: 8px outset var(--dark-blue);
    border-bottom: 8px outset var(--dark-blue);
}

#index-six > .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0;
    margin-bottom: 0;
}

#index-six > h5 {
    text-align: center;
}

#reviews-section {
    height: 400px;
    padding: 16px 0 0 0;
    max-width: 5000px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#reviews-container {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-auto-columns: 500px;
    grid-auto-flow: column;
    overflow-x: auto;
}

#reviews-container::-webkit-scrollbar {
    height: 16px;
}

#reviews-container::-webkit-scrollbar-track {
    border-radius: 10px;
}

#reviews-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.review-box {
    height: 300px;
    width: 400px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    padding: 32px;
    text-align: justify;
    border-radius: 32px;
    outline: none;
    box-shadow: inset 4px 4px 8px 0 var(--dark-blue);
    position: relative;
}

.overflow-review{
    overflow-y: scroll;
}

.overflow-review::-webkit-scrollbar {
    width: 20px;
}

.overflow-review::-webkit-scrollbar-track {
    border-radius: 4px;
    margin-block: 32px;
    -webkit-box-shadow: none; /*Removed to blend in with background*/
}

.overflow-review::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px var(--dark-blue); 
    background-color: var(--middle-blue);
    border: 4px solid var(--light-blue); /*Add this to make scrollbar look like it's pushed off the wall"*/
}

.review-box h4 {
    font-size: 27px;
}

.stars {
    color: var(--red);
    margin-top: 16px;
}

.rev-link {
    position: absolute;
    top: 64px;
    right: 16px;
}

.rev-link button {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

#contact-section {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 32px;
}

#hint-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
}

#hint-container > h5 {
    color: var(--red);
    transition: 500ms ease;
    font-variant: small-caps;
}

#hint-button {
    height: 50px;
    width: 50px;
    border-radius: 100vh;
    text-decoration: none;
    box-shadow: 4px 4px 4px 0 var(--light-red);
    border: 8px outset var(--red);
    transition: 500ms ease;
}

#hint-container:hover > h5 {
    color: var(--strong-red);
    text-shadow: 0 0 4px var(--light-red);
}

#hint-button:hover {
    box-shadow: none;
    border: 0px outset var(--light-red);
    }

.contact-form {
    height: 600px;
    flex: 2;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: 32px;
    border: 8px outset var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

fieldset {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

fieldset input {
    width: 50%;
}

.contact-form input,
textarea {
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 36px;
    border-radius: 2px;
    font-size: 20px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    padding: 6px;
    box-shadow: inset 2px 2px 4px 0 var(--dark-blue);
}

.reg-input {
    width: 100%;
}

textarea {
    height: 260px;
    resize: none;
}

#contact-text {
    flex: 3;
    text-align: justify;
    padding-top: 150px;
}

footer {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    border-top: 8px outset var(--dark-blue);
}

footer > .page-container {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
    margin-bottom: 0;
}

#footer-logo {
    height: 100px;
    width: 125px;
    background-image: url(Resources/Avey-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}

.footer-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-group h3 {
    margin-bottom: 16px;
    text-align: left;
}

#footer-about {
    width: 300px;
}

.footer-group a {
    margin-bottom: 8px;
}

@media (max-width: 2560px){
    .page-container {
        max-width: 1440px;
    }
}

@media (max-width: 1440px){
    .page-container {
        max-width: 1024px;
    }

    #index-one img {
        height: 500px;
        width: 45%;
    }

    #i1-text {
        width: 50%;
    }

    .reason-text h4 {
        text-align: left;
    }

    .reason-text p {
        text-align: left;
    }

    #reasons-container img {
        height: 30px;
    }

    .ba-image {
        height: 375px;
        width: 300px;
    }

    #reviews-section {
        gap: 8px;
    }

    #reviews-container {
        gap: 8px;
    }

    .review-box {
        width: 400px;
        padding: 16px;
        text-align: left;
    }

    .rev-link {
        top: 32px;
    }

    footer > .page-container {
        gap: 32px;
    }
}

@media (max-width: 1024px){
    .page-container {
        max-width: 768px;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 48px;
        top: 40px;
    }

    .hamburger.active {
        position: fixed;
        right: 48px;
        top: 40px;
        z-index: 2;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        background-color: var(--light-blue);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: var(--light-blue);
    }

    #nav-links {
        width: 0px;
        height: 100vh;
        overflow: hidden;
        background-color: hsl(234, 22%, 19%);
        transition: 700ms ease-in;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 16px;
        gap: 16px;
        position: fixed;
        right: 0;
        visibility: hidden;
        top: 0;
        z-index: 1;
        box-shadow: -8px 0 16px 0 var(--middle-blue);
    }

    #nav-links.active {
        width: 45%;
        visibility: visible;
    }

    .reg-nav {
        color: var(--light-blue);
        padding-left: 16px;
    }
    
    #nav-links a,
    #nav-links button  {
        font-size: 34px;
        width: 100%;
    }

    #nav-call {
        white-space: nowrap;
        background-color: var(--light-blue);
        color: var(--dark-blue);
    }

    #call-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        transform: translateY(0);
    }
    
    #nav-call-number {
        transform: translate(-178px, 0px);
        color: var(--dark-blue);
        z-index: 1;
        transition: 500ms ease-out;
    }

    #ibanner-text {
        width: 70%;
    }

    #index-one img {
        height: 300px;
        width: 40%;
    }
    
    #i1-text {
        width: 55%;
        gap: 16px;
    }

    #i1-text h2 {
        margin-bottom: 0;
    }

    #reasons-container {
        width: 100%;
        margin: 16px 0;
        grid-template: repeat(2, 200px) / repeat(3, 1fr);
        gap: 24px;
    }
    
    .reason {
        gap: 8px;
        padding: 8px;
    }
    
    #reasons-container img {
        height: 30px;
    }

    #index-services-grid {
        grid-template: repeat(2, 150px) / repeat(5, 1fr);
    }

    #reviews-section {
        gap: 24px;
        height: 500px;
    }

    #contact-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: start;
        gap: 24px;
    }
    
    .contact-form {
        height: 600px;
        padding: 32px;
        gap: 16px;
    }
    
    fieldset {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    footer > .page-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        justify-items: center;
    }

    footer > .page-container > a {
        align-self: center;
    }

    #footer-logo {
        height: 140px;
        width: 175px;
    }

    footer .logo-container h3 {
        display: none;
    }

    #footer-about {
        width: 100%;
        grid-column: span 2;
        align-self: center;
        text-align: justify;
    }

    #footer-about h3 {
        position: relative;
        visibility: hidden;
    }

    #footer-about h3:after {
        position: absolute;
        left: 0;
        content: "About Avey Construction";
        visibility: visible;
    }
}

@media (max-width: 768px){
    .page-container {
        max-width: 600px;
    }

    h1 {
        font-size: 34px;
        margin-bottom: 16px;
    }
    
    h2 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 17px;
    }
    
    h5 {
        font-size: 17px;
    }
    
    p,
    li {
        font-size: 17px;
    }

    a {
        font-size: 17px;
    }

    button {
        font-size: 17px;
        padding: 4px 8px;
        border-radius: 8px;
    }

    .is-block > h4 {
        font-size: 24px;
    }

    #reviews-section {
        height: 350px;
    }

    #reviews-container {
        height: 300px;
    }

    .review-box {
        height: 200px;
    }

    .review-box h4 {
        font-size: 24px;
    }

    #nav-links.active {
        width: 100%;
    }

    #index-banner {
        height: 400px;
        display: flex;
        align-items: center;
        padding: 0;
        padding-left: 32px;
    }
    
    #ibanner-text {
        width: 100%;
    }
    
    #index-one {
        flex-direction: column-reverse;
        gap: 16px;
    }
    
    #index-one img {
        height: 400px;
        width: 95%;
    }
    
    #i1-text {
        width: 95%;
        gap: 8px;
    }
    
    #i1-text h2 {
        margin-bottom: 0px;
    }

    #reasons-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .reason {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        padding: 16px;
    }
    
    .reason-text h4 {
        text-align: left;
    }
    
    #reasons-container img {
        height: 30px;
    }

    .is-block {
        padding-left: 8px;
    }

    .contact-form {
        height: 600px;
        flex: none;
        width: 80%;
        padding: 8px 32px;
    }

    .contact-form input {
        height: 25px;
        border-radius: 2px;
        font-size: 17px;
    }
    
    .contact-form input,
    textarea {
        height: 29px;
        font-size: 17px;
    }
    
    .reg-input {
        width: 100%;
    }
    
    textarea {
        height: 260px;
        resize: none;
    }
    
    #contact-text {
        flex: none;
        text-align: justify;
    }

    footer > .page-container {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: left;
    }
}

@media (max-width: 600px){
    .page-container {
        max-width: 425px;
    }

    .bar {
        width: 16px;
        margin: 3px auto;
        transition: 500ms;
    }
    
    .hamburger.active .bar:nth-child(1) {
        background-color: var(--light-blue);
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
        background-color: var(--light-blue);
    }

    #index-one img {
        height: 300px;
    }

    #index-services-grid {
        grid-template: repeat(4, 200px) / repeat(3, 1fr);
    }
    
    .invisible-block {
        display: block;
    }

    .small-invisible {
        display: none;
    }
}

@media (max-width: 425px){
    .page-container {
        max-width: 375px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 16px;
    }
    
    h2 {
        font-size: 22px;
        margin-bottom: 4px;
    }
    
    h3 {
        font-size: 20px;
    }

    #reviews-container {
        height: 400px;
        grid-template-columns: repeat(3, 300px);
        grid-auto-columns: 300px;
    }

    .review-box {
        width: 250px;
    }

    fieldset {
        display: contents;
    }

    fieldset input {
        width: 100%;
    }
}

@media (max-width: 375px){
    .page-container {
        max-width: 320px;;
    }

    .review-box {
        height: 300px;
        text-align: left;
    }

    .contact-form {
        height: 600px;
        flex: none;
        width: 80%;
        padding: 8px 16px;
    }
}

@media (max-width: 320px){
    .page-container {
        max-width: 100%;
    }
}

/*About.html*/

#about-banner {
    height: 550px;
    padding-left: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--middle-blue);
}

#abanner-headings {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
}

#abanner-text {
    box-sizing: content-box;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: var(--light-blue);
    opacity: 0.7;
    padding: 0 32px;
}

#about-one {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#about-projects {
    width: 50%;
    text-align: justify;
}

#about-projects h2 {
    text-align: left;
}

#about-pictures {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: right;
}

#pictures-container {
    display: grid;
    grid-template: repeat(2, 200px) / repeat(2, 200px);
    align-content: center;
    justify-content: center;
    gap: 16px;
}

.picture {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 4px 0 var(--dark-blue);
    transition: 800ms ease-in;
}

@media (max-width: 2560px){

}

@media (max-width: 1440px){
    #abanner-headings {
        width: 45%;
    }

    #abanner-text {
        width: 45%;
    }

    #about-one {
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    #about-pictures {
        transform: scaleX(-1);
    }
}

@media (max-width: 1024px){
    #about-banner {
        height: 750px;
        padding-left: 16px;
    }
    
    #abanner-headings {
        width: 50%;
    }
    
    #abanner-text {
        width: 45%;
        padding: 0 16px;
    }

    #about-one {
        flex-direction: column;
    }

    #about-projects {
        width: 100%;
        text-align: justify;
    }
    
    #about-projects h2 {
        text-align: left;
    }
    
    #about-pictures {
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #pictures-container {
        display: grid;
        grid-template: repeat(2, 200px) / repeat(2, 200px);
        align-content: center;
        justify-content: center;
        gap: 16px;
    }
}

@media (max-width: 768px){
    #about-banner {
        height: 600px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #abanner-headings {
        box-sizing: border-box;
        padding-left: 16px;
        width: 100%;
        height: 40%;
    }
    
    #abanner-text {
        box-sizing: border-box;
        width: 100%;
        padding: 0 16px;
        height: 60%;
    }

    #about-one {
        gap: 80px;
    }

    #about-pictures {
        width: 100%;
        transform: scaleX(1);
    }
}

@media (max-width: 600px){
    #about-banner {
        height: 700px;
    }

    #abanner-headings {
        height: 30%;
    }
    
    #abanner-text {
        height: 70%;
    }


    #about-pictures #p1 {
        background-color: var(--red);
        z-index: 2;
        transform: rotate(-17deg) translate(15px, 0) ;
    }
    
    #about-pictures #p2 {
        background-color: yellow;
        z-index: 1;
        transform: rotate(17deg) translate(-15px, -10px);
    }
    
    #about-pictures #p3 {
        background-color: var(--dark-blue);
        z-index: 3;
        transform: rotate(7deg) translate(15px, -25px);
    }
    
    #about-pictures #p4 {
        background-color: var(--middle-blue);
        z-index: 4;
        transform: translate(-15px, -45px) rotate(-8deg);
    }

    #pictures-container {
        grid-template: repeat(2, 150px) / repeat(2, 150px);
    }

    #about-pictures .picture {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 425px){
    #about-banner {
        height: 800px;
    }

    #abanner-headings {
        height: 25%;
    }
    
    #abanner-text {
        height: 75%;
    }
}

@media (max-width: 375px){
    #about-banner {
        height: 1000px;
    }

    #pictures-container {
        grid-template: repeat(2, 125px) / repeat(2, 125px);
    }

    #about-pictures .picture {
        width: 125px;
        height: 125px;
    }
}

@media (max-width: 320px){
    #about-banner {
        height: 1100px;
    }
}

/*Services.html*/

#services-list {
    display: grid;
    grid-template: repeat(4, 300px) / repeat(5, 1fr);
    gap: 16px;
}

.sl-text {
    box-sizing: border-box;
    grid-column: span 3;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    height: 100%;
    padding: 48px;
    text-align: justify;
    border: 8px outset var(--dark-blue);
    transition: 800ms ease;
}

.sl-text:hover,
.sl-text .active {
    background-color: var(--middle-blue);
}

#services-list img {
    box-sizing: border-box;
    height: 100%;
    grid-column: span 2;
    background-color: green;
    border: 8px outset var(--dark-blue);
}

@media (max-width: 2560px){

}

@media (max-width: 1440px){

}

@media (max-width: 1024px){
    #services-list {
        grid-template-rows: repeat(4, 400px);
    }

    .sl-text {
        padding: 32px;
    }
}

@media (max-width: 768px){
    #services-list {
        grid-template-rows: repeat(4, 285px);
    }

    .sl-text {
        padding: 16px;
    }
}

@media (max-width: 600px){
    #services-list {
        grid-template-rows: 280px 200px repeat(2, 280px) 200px 280px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .sl-text {
        grid-column: span 2;
    }
    
    #services-list img {
        grid-column: span 1;
    }
}

@media (max-width: 425px){

}

@media (max-width: 375px){
    #services-list {
        grid-template-rows: 375px 150px repeat(2, 375px) 150px 375px;
    }
}

@media (max-width: 320px){
    #services-list {
        grid-template-rows: 450px 150px repeat(2, 450px) 150px 450px;
    }
}

/*Gallery.html*/

#gallery-ba-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
}

#gallery-ba-container > div {
    margin-bottom: 32px;
    width: 90%;
}

.gba-image {
    height: 400px;
    width: 100%;
    background-color: green;
    border-radius: 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

#gallery-two {
    position: relative;
}

#gallery-two > #pictures-container {
    grid-template: repeat(2, 300px) / repeat(2, 300px);
    transition: 500ms ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#gallery-two .picture {
    height: 300px;
    width: 300px;
}

#p1 {
    background-image: url(Resources/pictures-loop/p101.jpg);
    border: 8px solid var(--red);
    z-index: 2;
    transform: rotate(-17deg) translate(-50px, 0) ;
}

#p2 {
    background-image: url(Resources/pictures-loop/p201.jpg);
    border: 8px solid yellow;
    z-index: 1;
    transform: rotate(17deg) translate(-125px, -10px);
}

#p3 {
    background-image: url(Resources/pictures-loop/p301.jpg);
    border: 8px solid var(--dark-blue);
    z-index: 3;
    transform: rotate(7deg) translate(-75px, -25px);
}

#p4 {
    background-image: url(Resources/pictures-loop/p401.jpg);
    border: 8px solid var(--middle-blue);
    z-index: 4;
    transform: translate(-125px, -45px) rotate(-8deg);
}

.gallery-button {
    position: absolute;
    right: 75px;
    top: 200px;
    height: 250px;
    width: 250px;
    border-radius: 125px;
    text-decoration: none;
    box-shadow: 8px 8px 24px 0 var(--light-red);
    border: 8px outset var(--red);
    transition: 500ms ease;
    opacity: 1;
    visibility: visible;
}

.gallery-button-inactive {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.gallery-button span {
    text-decoration: underline;
}

.gallery-button:hover {
box-shadow: none;
border: 0px outset var(--light-red);
}

.gallery-container {
    width: 90%;
    transition: 3s ease-in;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
    transform: translateY(-50px);
}

.active-gc {
    gap: 32px;
    opacity: 1;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateY(0px);
}

.gc-img {
    height: 400px;
    width: 400px;
    box-shadow: 0 0 8px 0 var(--dark-blue);
    transition: 200ms ease-in;
    opacity: 0;
}

.gc-img-appear {
    opacity: 0.8;
}

.gc-img-appear:hover {
    opacity: 1;
    box-shadow: 0 0 16px 0 var(--dark-blue);
    cursor: pointer;
}

.gallery-contact {
    margin-top: 700px;
    transition: 1s;
}

.gallery-contact-active {
    margin-top: 0px;
}

#gallery-img-display {
    box-sizing: border-box;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(15px);
    background-color: hsla(234, 22%, 19%, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    transition: 700ms ease-in;
}

#gid-exit {
    position: absolute;
    top: 128px;
    right: 64px;
}

#gallery-img-popped {
    height: 90vh;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 16px var(--light-blue);
}

#gallery-img-display.gid-show {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 2560px){
    #gallery-img-popped {
        height: 80vh;
    }
}

@media (max-width: 1440px){
    .gc-img {
        height: 275px;
        width: 275px;
    }

    #gallery-img-popped {
        height: 70vh;
    }
}

@media (max-width: 1024px){
    #gallery-two > #pictures-container {
        grid-template: repeat(2, 200px) / repeat(2, 200px);
    }

    #gallery-two .picture {
        height: 200px;
        width: 200px;
    }

    .gallery-button {
        top: 100px;
        right: 0px;
        height: 220px;
        width: 220px;
        border-radius: 110px;
    }

    #gallery-img-popped {
        height: 768px;
    }
}

@media (max-width: 768px){
    #gallery-img-popped {
        height: 600px;
    }
}

@media (max-width: 600px){
    #gallery-two {
        margin-bottom: 250px;
    }

    #p1 {
        transform: rotate(-17deg) translate(20px, 0) ;
    }
    
    #p2 {
        transform: rotate(17deg) translate(-20px, -10px);
    }
    
    #p3 {
        transform: rotate(7deg) translate(15px, -25px);
    }
    
    #p4 {
        transform: translate(-15px, -45px) rotate(82deg);
    }
    
    .gallery-button {
        top: 400px;
        right: 25%;
        height: 200px;
        width: 200px;
        border-radius: 100px;
    }

    #gallery-img-popped {
        height: 425px;
    }
}

@media (max-width: 425px){
    #gallery-two > #pictures-container {
        grid-template: repeat(2, 150px) / repeat(2, 150px);
    }

    #gallery-two .picture {
        height: 150px;
        width: 150px;
    }

    .gallery-button {
        top: 325px;
    }

    #gallery-img-popped {
        height: 375px;
    }
}

@media (max-width: 375px){
    #gallery-img-popped {
        height: 320px;
    }
}

@media (max-width: 320px){
    #gallery-two > #pictures-container {
        grid-template: repeat(2, 125px) / repeat(2, 125px);
    }

    #gallery-two .picture {
        height: 125px;
        width: 125px;
    }

    .gallery-button {
        top: 250px;
        right: 0;
        align-self: center;
    }
}

/*Contact.html*/

#contact-hero {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--middle-blue);
    padding: 0;
}

#chero-text {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

#contact-page-form {
    width: 40%;
}

#contact-info-row {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 48px;
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.cinfo-img {
    height: 32px;
    width: 32px;
    background-color: green;
}

#contact-two {
    padding: 0 16px;
}

#google-map {
    width: 90%;
    margin: auto;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px var(--dark-blue);
}

#locations-grid {
    display: grid;
    grid-template: repeat(3, 64px) / repeat(9, 1fr);
    align-items: center;
    justify-items: center;
}

.location-container {
    grid-column: span 2;
}

.location-block {
    border-left: 4px outset var(--middle-blue);
    text-align: left;
    padding-left: 12px;
    white-space: nowrap;
}

.il-1 {
    display: none;
}

.il-3 {
    display: none;
}

@media (max-width: 2560px){

}

@media (max-width: 1440px){

}

@media (max-width: 1024px){
    #contact-hero {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--middle-blue);
        padding: 0;
        padding-left: 0;
    }

    #chero-text,
    #contact-page-form {
        box-sizing: border-box;
        width: 100%;
    }

    #chero-text {
        height: 500px;
        border-bottom: 16px solid var(--light-blue);
    }
    
    #locations-grid {
        display: grid;
        grid-template: repeat(4, 64px) / repeat(7, 1fr);
        align-items: center;
        justify-items: center;
    }
    
    .location-block {
        border-left: 4px outset var(--middle-blue);
        text-align: left;
        padding-left: 16px;
    }

    .il-1 {
        display: block;
    }

    .il-2 {
        display: none;
    }
}

@media (max-width: 768px){
    #chero-text {
        height: 400px;
    }
}

@media (max-width: 600px){
    #contact-info-row {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        gap: 32px;
        flex-wrap: nowrap;
    }

    #google-map {
        height: 450px;
    }

    #locations-grid {
        display: grid;
        grid-template: repeat(6, 64px) / repeat(5, 1fr);
        align-items: center;
        justify-items: center;
    }

    .il-1 {
        display: none;
    }

    .il-3 {
        display: block;
    }
}

@media (max-width: 425px){
    #google-map {
        height: 400px;
    }
}

@media (max-width: 375px){
    #google-map {
        height: 300px;
    }

    #locations-grid {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .il-3 {
        display: none;
    }

    .location-container {
        text-align: left;
        display: flex;
        width: 80%;
        justify-content: left;
    }

    .location-two   {
        justify-content: right;
    }

    .il-4 {
        display: none;
    }
}

@media (max-width: 320px){

}