/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --light-blue: #F3F3F7;
    --dark-blue: #26283B;
    --middle-blue: hsl(234, 22%, 59%);
    --red: #E13D4C;
    --light-red: hsl(355, 73%, 80%);
    --brick-red: #AA4A44;
}

body {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
}

.page-container {
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 64px;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
}

h2 {
    font-size: 48px;
    text-decoration: underline;
    font-weight: 800;
    margin-bottom: 8px;
}

h3 {
    font-size: 34px;
    font-weight: 800;
}

h4 {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 20px;
}

h2, h3 {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
}

button {
    font-size: 20px;
    color: var(--light-blue);
    background-color: var(--red);
    text-decoration: underline;
    padding: 6px 16px;
    border-radius: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin-bottom: 16px;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    text-decoration: underline;
}

#nav-call {
    background-color: #26283B;
}

/*Index.html*/
#index-banner {
    height: 600px;
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 32px;
}

#ibanner-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
}

#index-h1 {
    text-align: inherit;
    margin-bottom: inherit;
}

#index-one {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 32px;
}

#index-one img {
    height: 500px;
    width: 35%;
    background-color: green;
}

#i1-text {
    width: 60%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
}

#i1-text h2 {
    text-align: left;
    margin-bottom: 16px;
}

#reasons-container {
    margin: 32px 0;
    display: grid;
    grid-template: repeat(2, 200px) / repeat(3, 1fr);
    justify-content: space-around;
    gap: 64px;
}

.reason {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
    border: 4px solid red;
}

.reason-text h4 {
    text-align: center;
}

.reason-text p {
    text-align: justify;
}

#reasons-container img {
    height: 100px;
    width: 100px;
    background-color: green;
}

#index-three {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#index-services-grid {
    width: 100%;
    background-color: var(--light-blue);
    display: grid;
    grid-template: repeat(2, 200px) / repeat(5, 1fr);
    gap: 8px;
}

.is-block {
    background-color: var(--red);
    color: var(--light-blue);
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px outset var(--red);
    cursor: pointer;
}

.is-block > h4 {
    font-size: 27px;
    text-decoration: none;
}

.empty-block {
    grid-column: span 1;
    cursor: default;
}

#index-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#index-ba-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px 0;
}

.ba-image {
    height: 500px;
    width: 400px;
    background-color: green;
    border-radius: 64px;
    display: flex;
    justify-content: space-between;
}

.ba-line {
    height: 100%;
    width: 8px;
    background-color: var(--light-blue);
}

#makeover-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 16px 0;
}

.mostep-box {
    height: 400px;
    width: 350px;
    background-color: var(--dark-blue);
    border-radius: 32px;
    box-shadow: 8px 8px 8px 0 var(--middle-blue);
    transition: 700ms ease;
}

.mostep-box:hover {
    box-shadow: none;
}

.mostep-image {
    border-radius: 32px 32px 0 0;
    height: 150px;
    width: 100%;
}

.mostep-text {
    color: var(--light-blue);
    padding: 16px;
    text-align: justify;
}

#index-six {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: 48px 0;
    margin: 64px 0;
    border-top: 8px outset var(--dark-blue);
    border-bottom: 8px outset var(--dark-blue);
}

#index-six > .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0;
    margin-bottom: 0;
}

#index-six > h5 {
    text-align: center;
}

.rev-arrow p {
    font-size: 48px;
    font-weight: 900;
    cursor: pointer;
}

#reviews-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 16px 0 0 0;
}

.review-box {
    height: 300px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    padding: 32px;
    text-align: justify;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    outline: none;
    box-shadow: inset 4px 4px 8px 0 var(--dark-blue);
}

.review-box h4 {
    font-size: 27px;
}

.stars {
    color: var(--red);
    margin-top: 16px;
}

#contact-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

#contact-form {
    height: 500px;
    flex: 2;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: 32px;
    border: 8px outset var(--dark-blue);
}

#contact-text {
    flex: 3;
    text-align: justify;
}

#contact-text h2,
#contact-text h3 {
    text-align: left;
}

footer {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    border-top: 8px outset var(--dark-blue);
}

footer > .page-container {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
    margin-bottom: 0;
}

.footer-group {
    display: flex;
    flex-direction: column;
}

.footer-group h3 {
    margin-bottom: 16px;
    text-align: left;
}

.footer-group a {
    margin-bottom: 8px;
}

@media (max-width: 2560px){
    .page-container {
        max-width: 1440px;
    }
}

@media (max-width: 1440px){
    .page-container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px){
    .page-container {
        max-width: 768px;
    }
}

@media (max-width: 768px){
    .page-container {
        max-width: 425px;
    }
}

@media (max-width: 425px){
    .page-container {
        max-width: 375px;
    }
}

@media (max-width: 375px){
    .page-container {
        max-width: 320px;;
    }
}

@media (max-width: 320px){

}

/*Services.html*/

#services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.service-layer {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.sl-left {
    flex-direction: row-reverse;
}

.sl-text {
    box-sizing: border-box;
    height: 300px;
    flex: 3;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    height: 100%;
    padding: 48px;
    text-align: justify;
    border: 8px outset var(--dark-blue);
}

.service-layer img {
    box-sizing: border-box;
    height: 300px;
    flex: 2;
    background-color: green;
    border: 8px outset var(--dark-blue);
}

/*Gallery.html*/

#gallery-ba-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px 0;
}

#gallery-ba-container > div {
    margin-bottom: 32px;
}

.gba-image {
    height: 400px;
    width: 700px;
    background-color: green;
    border-radius: 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

#gallery-two {
    padding: 100px 0 0 0;
    position: relative;
}

#pictures-container {
    display: grid;
    grid-template: repeat(2, 300px) / repeat(2, 300px);
    align-content: center;
    justify-content: center;
    gap: 16px;
}

.picture {
    height: 300px;
    width: 300px;
}

#p1 {
    background-color: var(--red);
    z-index: 2;
    transform: rotate(-17deg) translate(-50px, 0) ;
}

#p2 {
    background-color: yellow;
    z-index: 1;
    transform: rotate(17deg) translate(-125px, -10px);
}

#p3 {
    background-color: var(--dark-blue);
    z-index: 3;
    transform: rotate(7deg) translate(-75px, -25px);
}

#p4 {
    background-color: var(--middle-blue);
    z-index: 4;
    transform: translate(-125px, -45px) rotate(82deg);
}

#gallery-button {
    position: absolute;
    right: 75px;
    top: 50%;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    text-decoration: none;
    box-shadow: 8px 8px 24px 0 var(--light-red);
    border: 8px outset var(--red);
    transition: 500ms ease;
}

#gallery-button span {
    text-decoration: underline;
}

#gallery-button:hover {
box-shadow: none;
border: 0px outset var(--light-red);
}

/*Contact.html*/

#contact-hero {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--middle-blue);
    padding: 0;
    padding-left: 32px;
}

#contact-form {
    height: 500px;
    flex: 2;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: 32px;
    border: 8px outset var(--dark-blue);
}

#chero-text {
    flex: 3;
}

#chero-text h1,
#chero-text h3 {
    text-align: left
}

#contact-info-row {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 48px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.cinfo-img {
    height: 32px;
    width: 32px;
    background-color: green;
}

.cinfo-text h3 {
    text-align: left;
}

#google-map {
    width: 100%;
    height: 600px;
    background-color: green;
}

#locations-grid {
    display: grid;
    grid-template: repeat(3, 64px) / repeat(9, 1fr);
    align-items: center;
    justify-items: center;
}

.location-block {
    grid-column: span 2;
    border-left: 4px outset var(--middle-blue);
    text-align: left;
    padding-left: 16px;
}