@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Quattrocento:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --light: hsl(30, 40%, 96%);
    --beige: hsl(34, 38%, 82%);
    --wine-red: hsl(347, 100%, 7%);
    --red: hsl(347, 100%, 35%);
    --light-red: hsl(347, 100%, 80%);
    --olive: hsl(48, 38%, 31%);
    --orange: hsl(41, 100%, 45%);
    --light-orange: hsl(41, 100%, 55%);
}

/*
:root{
    --light: #F3F3F7;
    --beige: #26283B;
    --strong-blue: hsl(234, 100%, 29%);
    --olive: hsl(234, 22%, 59%);
    --red: #E13D4C;
    --light-red: hsl(355, 73%, 80%);
    --strong-red: hsl(355, 100%, 56%);
    --roof-red: #C7535E;
}
*/

::-webkit-scrollbar {
    width: 16px;
    border-right: 10px solid rgba(0, 0, 0, 0.01);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 9px var(--beige); 
    background-color: var(--light);
    position: absolute;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 9px var(--beige); 
    background-color: var(--olive);
}

@supports (scrollbar-color: var(--beige) var(--light)){ /*Customizing for firefox and other browsers*/
    * {
        scrollbar-color: var(--beige) var(--light);
        scrollbar-width: thin;
    }
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--light);
    color: var(--wine-red);
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    width: 100%;
}

.page-container {
    max-width: 2560px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 64px;
}

h1 {
    font-size: 68px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px;
/*    font-family: "Julius Sans One", sans-serif;*/
    font-family: "Quatrocento", serif;
}

h2 {
    font-size: 56px;
    margin-bottom: 8px;
    text-align: center;
/*    font-family: "Julius Sans One", sans-serif;*/
    font-family: "Quatrocento", serif;
}

h3 {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
/*    font-family: "Crimson Text", Georgia, 'Times New Roman', Times, serif;*/
    font-family: 'Fanwood Text', serif;
}

h4 {
    font-size: 34px;
    font-weight: 700;
/*    font-family: "Crimson Text", Georgia, 'Times New Roman', Times, serif;*/
    font-family: 'Fanwood Text', serif;
    margin-bottom: 8px;
}

h5 {
    font-size: 34px;
    font-weight: 600;
/*    font-family: "Crimson Text", Georgia, 'Times New Roman', Times, serif;*/
    font-family: 'Fanwood Text', serif;
}

p,
li {
    font-size: 34px;
/*    font-family: "Crimson Text", Georgia, 'Times New Roman', Times, serif;*/
    font-family: 'Fanwood Text', serif;
}

#index-h1,
#index-h3,
#abanner-h1,
#abanner-h5,
#ch-picture-text h1,
#ch-picture-text h3,
#contact-text h2,
#contact-text h3,
.cinfo-text h3 {
    text-align: left;
    margin-bottom: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 34px;
}

button {
    font-size: 34px;
    color: var(--light);
    background-color: var(--orange);
    font-variant: small-caps;
    padding: 8px 20px;
    border-radius: 32px;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 200ms ease-out;
    font-family: 'Fanwood Text', serif;
}

button:hover {
    background-color: var(--light-orange);
    text-shadow: 0 0 4px var(--light);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

#picture-nav {
    width: 100%;
    backdrop-filter: blur(30px);
    background-color: hsla(44, 9%, 97%, 0.4);
}

#picture-nav > .page-container{
    margin-bottom: 0px;
}

#nav-logo {
    height: 50px;
    width: 200px;
    align-self: center;
}

.hamburger {
    background-color: var(--orange);
    padding: 4px 8px;
    border: 8px outset var(--orange);
    cursor: pointer;
    transition: 500ms;
    display: none;
}

.hamburger:hover {
    background-color: var(--light-orange);
}

.bar {
    display: block;
    background-color: var(--light);
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 500ms;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    z-index: 20;
}

#nav-links li {
    font-variant: small-caps;
    transition: 200ms ease-out;
    font-weight: 600;
}

.reg-nav {
    color: var(--light);
    background-color: var(--olive);
    font-variant: small-caps;
    padding: 8px 20px;
    border-radius: 32px;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 200ms ease-out;
}

.reg-nav:hover {
    text-shadow: 0 0 4px var(--olive);
    background-color: transparent;
}

#call-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    transform: translateY(20px);
}

#nav-call {
    background-color: var(--wine-red);
    margin-bottom: 8px;
    z-index: 2;
}

#nav-call:hover {
    background-color: var(--red);
}

#nav-call-number {
    transform: translateY(-35px);
    color: var(--wine-red);
    z-index: 1;
    transition: 500ms ease-out;
    opacity: 0;
}

/*Index.html*/
#index-banner {
    width: 100%;
    height: 1000px;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
}

#index-picture-banner {
    width: 100%;
/*    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(Resources/banner-index/ib1-basement-finish.jpg);
    transition: 800ms ease-in;*/
    position: relative;
}

#index-picture-banner,
#about-picture-banner,
#ch-picture-text {
    margin-bottom: 48px;
}

.banner-img-background {
    position: absolute;
    inset: 0;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 800ms ease-in;
}

#bibi1 {
    opacity: 1;
    background-image: url(Resources/banner-index/ib1-basement-finish.jpg);
}

#bibi2 {
    background-image: url(Resources/banner-index/ib2-bath-renovation.jpg);
}

#bibi3 {
    background-image: url(Resources/banner-index/ib3-kitchen-renovation.jpg);
}

#bibi4 {
    background-image: url(Resources/banner-index/ib4-bath-renovation.jpg);
}

#bibi5 {
    background-image: url(Resources/banner-index/ib5-basement-finish.jpg);
}

#bibi6 {
    background-image: url(Resources/banner-index/ib6-kitchen-renovation.jpg);
}

#bibi7 {
    background-image: url(Resources/banner-index/ib7-bath-renovation.jpg);
}

#index-transparent-banner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}

#ibanner-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    background: linear-gradient(90deg, hsl(240, 20%, 96%, 1), hsla(240, 20%, 96%, 0.7));
    padding: 16px;
    padding-left: 48px;
    border-radius: 0 36px 36px 0;
}

#index-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
}

#index-one img {
    height: 600px;
    aspect-ratio: 558/447;
    background-color: var(--light);
}

#i1-text {
    flex: auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
}

#i1-text h2 {
    text-align: left;
}

#i1-text button {
    margin-top: 16px;
}

#reasons-container {
    margin-top: 16px;
    display: grid;
    grid-template: repeat(2, 200px) / repeat(3, 1fr);
    justify-content: space-around;
    gap: 36px;
}

.reason {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 16px;
    gap: 16px;
}

.reason-text h4 {
    text-align: center;
}

.reason-text p {
    text-align: justify;
}

.reason-img {
    width: 8%;
    aspect-ratio: 1/1;
}

.reason-text {
    width: 90%;
}

#index-three {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#index-services-grid {
    width: 100%;
    background-color: var(--light);
    display: grid;
    grid-template: repeat(2, 450px) 700px / repeat(2, 1fr);
    gap: 24px;
}

.is-block {
    color: var(--wine-red);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px outset var(--beige);
    cursor: default;
    transition: 200ms ease-in;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: none;
    transition: 800ms ease-in;
    overflow: hidden;
    grid-column: span 1;
    grid-row: span 1;
}

#bathroom-is-block {
    background-image: url(Resources/services-pictures/bath-renovation-service.jpg);  
}

#kitchen-is-block {
    background-image: url(Resources/services-pictures/kitchen-renovation-service.jpg);
}

#basement-is-block {
    background-image: url(Resources/services-pictures/basement-finish-service.jpg);
}

#condo-is-block {
    background-color: var(--beige);
}

#threed-is-block {
    grid-column: span 2;
    background-image: url(Resources/3d-pictures/index-services-3d-modeling-comparison.png);
}

.is-block h4 {
    font-size: 50px;
    background-color: hsla(34, 38%, 82%, 0.8);
    transition: 800ms ease-in;
    padding: 16px 32px;
    border-radius: 16px;
}

.empty-block {
    grid-column: span 1;
    cursor: default;
}

.invisible-block {
    display: none;
}

#index-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#index-ba-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px 0;
}

.ba-image {
    border-radius: 64px;
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    --position: 50%;
    height: 750px;
    width: 600px;
    box-shadow: 12px 12px 12px 0 var(--olive);
    transition: 800ms;
}

.ba-image:active {
    box-shadow: none;
}

.ba-img-container {
    height: 100%;
    width: 100%;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transition: 200ms ease-out;
}

.ba-before {
    position: absolute;
    inset: 0;
    width: var(--position);
    z-index: 2;
}

.ba-after {
    position: absolute;
    inset: 0;
}

.slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
}

.slider-line {
    position: absolute;
    inset: 0;
    width: 8px;
    height: 100%;
    background-color: var(--light);
    z-index: 3;
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
    transition: 200ms ease-out;
}

.slider-button {
    position: absolute;
    border-radius: 100vw;
    height: 100px;
    width: 100px;
    padding: 0px;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    z-index: 4;
    transition: 200ms ease-out;
    border: 4px outset var(--orange);
}

#makeover-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    margin: 16px 0;
}

.mostep-box {
    height: 450px;
    width: 400px;
    background-color: var(--beige);
    border-radius: 32px;
    border-top: 24px solid var(--orange);
    box-shadow: 8px 8px 8px 0 var(--olive);
    transition: 700ms ease;
}

.mostep-box:hover {
    box-shadow: none;
}

.mostep-text {
    color: var(--wine-red);
    padding: 16px;
    text-align: left;
}

#index-six {
    background-color: var(--beige);
    color: var(--wine-red);
    padding: 48px 0;
    margin: 64px 0;
    border-top: 8px outset var(--beige);
    border-bottom: 8px outset var(--beige);
}

#index-six > .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0;
    margin-bottom: 0;
}

#index-six > h5 {
    text-align: center;
}

#reviews-section {
    height: 700px;
    padding: 16px 0 0 0;
    max-width: 7000px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#reviews-container {
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 700px);
    grid-auto-columns: 700px;
    grid-auto-flow: column;
    overflow-x: auto;
}

#reviews-container::-webkit-scrollbar {
    height: 24px;
}

#reviews-container::-webkit-scrollbar-track {
    border-radius: 22px;
}

#reviews-container::-webkit-scrollbar-thumb {
    border-radius: 22px;
}

.review-box {
    height: 550px;
    width: 550px;
    background-color: var(--light);
    color: var(--wine-red);
    padding: 32px;
    text-align: justify;
    border-radius: 32px;
    outline: none;
    box-shadow: inset 8px 8px 12px 0 var(--beige);
    position: relative;
    overflow-y: auto;
}

.review-box::-webkit-scrollbar {
    width: 26px;
}

.review-box::-webkit-scrollbar-track {
    border-radius: 4px;
    margin-block: 32px;
    -webkit-box-shadow: none; /*Removed to blend in with background*/
}

.review-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px var(--beige); 
    background-color: var(--olive);
    border: 6px solid var(--light); /*Add this to make scrollbar look like it's pushed off the wall"*/
}

.review-box h4 {
    font-size: 40px;
    margin-bottom: 0;
}

.stars {
    color: var(--orange);
    margin-top: 16px;
}

.rev-link {
    position: absolute;
    top: 48px;
    right: 24px;
}

.rev-link button {
    font-weight: 900;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding: 4px 36px 0 36px;
}

#contact-section {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 64px;
}

#hint-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 16px;
}

#hint {
    color: var(--orange);
    transition: 500ms ease;
    font-variant: small-caps;
    opacity: 0;
    transform: translateX(-15px);
    transition: 1s ease;
    text-align: left;
}

#hint-button {
    height: 75px;
    width: 75px;
    border-radius: 100vh;
    background-color: var(--red);
    box-shadow: 8px 8px 8px 0 var(--light-red);
    border: 10px outset var(--wine-red);
    transition: 500ms ease;
}

#hint-container:hover > #hint {
    color: var(--strong-red);
    text-shadow: 0 0 4px var(--light-red);
}

#hint-button:hover {
    box-shadow: none;
    border: 0px outset var(--wine-red);
}

#contact-div {
    transform: translateY(-30px);
    opacity: 0;
    transition: 700ms ease-in;
}

.contact-form {
    height: 800px;
    background-color: var(--beige);
    color: var(--wine-red);
    padding: 48px;
    border: 16px outset var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

fieldset {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

fieldset input {
    width: 50%;
}

.contact-form input,
textarea {
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 48px;
    border-radius: 2px;
    font-size: 36px;
    background-color: var(--light);
    color: var(--wine-red);
    padding: 6px;
    box-shadow: inset 4px 4px 6px 0 var(--beige);
    font-family: 'Fanwood Text', serif;
}

.reg-input {
    width: 100%;
}

textarea {
    height: 350px;
    resize: none;
}

#contact-text {
    text-align: justify;
    padding-top: 150px;
}

footer {
    background-color: var(--beige);
    color: var(--wine-red);
    border-top: 16px outset var(--beige);
}

footer > .page-container {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
    margin-bottom: 0;
}

#footer-logo {
    height: 100px;
    width: 400px;
}

.footer-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-group h3 {
    margin-bottom: 20px;
    text-align: left;
}

#footer-about {
    width: 550px;
}

.footer-group a {
    margin-bottom: 8px;
}

.footer-group a h4 {
    margin-bottom: -8px;
}

#footer-instagram-link {
    height: 48px;
    width: 48px;
    background-image: url(Resources/icons/Instagram_Glyph_Gradient.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 2560px){
    .page-container {
        max-width: 1440px;
    }

    ::-webkit-scrollbar {
        width: 12px;
        border-right: 7px solid rgba(0, 0, 0, 0.01);
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px var(--beige); 
    }
    
    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 9px var(--beige); 
    }

    h1 {
        font-size: 52px;
        margin-bottom: 32px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 27px;
    }

    h4,
    h5,
    p,
    li,
    a {
        font-size: 20px;
    }

    button {
        font-size: 20px;
        padding: 6px 16px;
        border-radius: 16px;
    }

    header button {
        font-size: 16px;
    }
    
    button:hover {
        text-shadow: 0 0 2px var(--light);
    }

    #nav-logo {
        height: 50px;
        width: 200px;
    }

    #nav-links {
        gap: 24px;
    }

    .reg-nav {
        font-size: 16px;
        padding: 6px 16px;
        border-radius: 16px;
    }

    .reg-nav:hover {
        text-shadow: 0 0 2px var(--olive);
    }

    #call-container {
    transform: translateY(17px);
    }

    #nav-call {
        margin-bottom: 12px;
    }

    #index-banner {
        height: 600px;
    }
    
    #ibanner-text {
        width: 70%;
        padding-left: 32px;
    }

    #index-one {
        margin-bottom: 32px;
    }

    #index-one img {
        height: 400px;
    }

    #i1-text button {
        margin-top: 0;
    }

    #reasons-container {
        margin: 0;
        grid-template: repeat(2, 150px) / repeat(3, 1fr);
        gap: 16px;
    }

    #index-services-grid {
        grid-template: repeat(2, 300px) 525px / repeat(2, 1fr);
        gap: 16px;
    }

    .is-block {
        border: 8px outset var(--beige);
    }

    .is-block h4 {
        font-size: 36px;
    }

    .ba-image {
        height: 500px;
        width: 400px;
        box-shadow: 8px 8px 8px 0 var(--olive);
    }

    .slider-button {
        height: 60px;
        width: 60px;
    }

    #makeover-container {
        gap: 16px;
    }

    .mostep-box {
        height: 275px;
        width: 225px;
    }

    #reviews-section {
        height: 500px;
        max-width: 5000px;
    }

    #reviews-container {
        height: 450px;
        grid-template-columns: repeat(3, 500px);
        grid-auto-columns: 500px;
    }

    #reviews-container::-webkit-scrollbar {
        height: 16px;
    }
    
    #reviews-container::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    
    #reviews-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }

    .review-box {
        height: 300px;
        width: 400px;
        box-shadow: inset 4px 4px 8px 0 var(--beige);
    }
    
    .overflow-review::-webkit-scrollbar {
        width: 20px;
    }
    
    .overflow-review::-webkit-scrollbar-thumb {
        border: 4px solid var(--light); /*Add this to make scrollbar look like it's pushed off the wall"*/
    }
    
    .review-box h4 {
        font-size: 27px;
    }
    
    .rev-link {
        top: 64px;
        right: 16px;
    }
    
    .rev-link button {
        font-size: 24px;
        padding: 0 24px;
    }

    #contact-section {
        display: flex;
        justify-content: space-around;
        align-items: start;
        gap: 32px;
    }
    
    #hint-container {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 8px;
    }
    
    #hint {
        color: var(--red);
        transition: 500ms ease;
        font-variant: small-caps;
        opacity: 0;
        transform: translateX(-10px);
        transition: 1s ease;
    }
    
    #hint-button {
        height: 50px;
        width: 50px;
        border-radius: 100vh;
        box-shadow: 4px 4px 4px 0 var(--light-red);
        border: 6px outset var(--wine-red);
        transition: 500ms ease;
    }
    
    #hint-container:hover > #hint {
        color: var(--red);
        text-shadow: 0 0 6px var(--light-red);
    }
    
    #hint-button:hover {
        box-shadow: none;
        border: 0px outset var(--wine-red);
    }
    
    #contact-div {
        transform: translateY(-30px);
        opacity: 0;
        transition: 700ms ease-in;
    }
    
    .contact-form {
        height: 600px;
        padding: 32px;
        border: 8px outset var(--beige);
        gap: 16px;
    }
    
    fieldset {
        gap: 16px;
        width: 100%;
    }
    
    .contact-form input,
    textarea {
        height: 36px;
        font-size: 20px;
        padding: 6px;
        box-shadow: inset 2px 2px 4px 0 var(--beige);
    }
    
    textarea {
        height: 260px;
    }

    footer {
        border-top: 8px outset var(--beige);
    }
    
    #footer-logo {
        height: 80px;
        width: 320px;
        border-radius: 12px;
    }
    
    .footer-group h3 {
        margin-bottom: 16px;
    }
    
    #footer-about {
        width: 300px;
    }
}

@media (max-width: 1440px){
    .page-container {
        max-width: 1024px;
    }

    #index-one img {
        height: 300px;
    }

    #reasons-container {
        grid-template: repeat(2, 170px) / repeat(3, 1fr);
        gap: 8px;
    }

    .reason-text h4 {
        text-align: left;
    }

    .reason-text p {
        text-align: left;
    }

    .ba-image {
        height: 400px;
        width: 320px;
    }

    .ba-img-container {
        height: 400px;
        width: 320px;
    }

    #reviews-section {
        gap: 8px;
    }

    #reviews-container {
        gap: 8px;
    }

    .review-box {
        width: 400px;
        padding: 16px;
        text-align: left;
    }

    .rev-link {
        top: 32px;
    }

    footer > .page-container {
        gap: 32px;
    }
}

@media (max-width: 1024px){
    .page-container {
        max-width: 768px;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 48px;
        top: 10px;
    }

    .hamburger.active {
        position: fixed;
        right: 48px;
        top: 10px;
        z-index: 21;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        background-color: var(--light);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: var(--light);
    }

    #picture-nav {
        width: 100%;
        backdrop-filter: none;
        background-color: hsla(44, 9%, 97%, 0.4);
        position: relative;
    }

    #nav-links {
        width: 0px;
        height: 100vh;
        overflow: hidden;
        background-color: hsl(347, 100%, 7%);
        transition: 700ms ease-in;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 16px;
        gap: 16px;
        position: fixed;
        right: 0;
        visibility: hidden;
        top: 0;
        box-shadow: -8px 0 16px 0 var(--olive);
    }

    #nav-links.active {
        width: 45%;
        visibility: visible;
    }

    .reg-nav {
        color: var(--light);
        background-color: transparent;
        padding-left: 16px;
    }
    
    #nav-links a,
    #nav-links button  {
        font-size: 34px;
        width: 100%;
    }

    #nav-call {
        white-space: nowrap;
        background-color: hsl(34, 38%, 82%);
        color: var(--wine-red);
    }

    #nav-call:hover {
        background-color: hsl(34, 38%, 92%);
    }

    #call-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        transform: translateY(0);
    }
    
    #nav-call-number {
        transform: translate(-178px, 0px);
        color: white;
        z-index: 1;
        transition: 500ms ease-out;
    }

    #ibanner-text {
        width: 80%;
    }

    #index-one img {
        height: 200px;
    }
    
    #i1-text {
        gap: 16px;
    }

    #index-two {
        margin-bottom: 0;
    }

    #reasons-container {
        width: 100%;
        grid-template: repeat(3, 150px) / repeat(2, 1fr);
        gap: 24px;
    }

    .reason {
        gap: 16px;
        padding: 8px;
    }

    #index-services-grid {
        grid-template: repeat(2, 200px) 350px / repeat(2, 1fr);
    }

    .is-block h4 {
        font-size: 27px;
        padding: 8px 16px;
    }

    #reviews-section {
        gap: 24px;
        height: 500px;
    }

    #contact-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: start;
        gap: 24px;
    }
    
    .contact-form {
        height: 600px;
        padding: 32px;
        gap: 16px;
    }
    
    fieldset {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    #contact-text {
        padding-top: 48px;
        flex: none;
        text-align: justify;
    }

    footer > .page-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        justify-items: center;
    }

    footer > .page-container > a {
        align-self: center;
    }

    footer .logo-container h3 {
        display: none;
    }

    #footer-about {
        width: 100%;
        grid-column: span 2;
        align-self: center;
        text-align: justify;
    }

    #footer-about h3 {
        position: relative;
        visibility: hidden;
    }

    #footer-about h3:after {
        position: absolute;
        left: 0;
        content: "About Avey Construction";
        visibility: visible;
    }
}

@media (max-width: 768px){
    .page-container {
        max-width: 600px;
    }

    h1 {
        font-size: 34px;
        margin-bottom: 16px;
    }
    
    h2 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 17px;
    }
    
    h5 {
        font-size: 17px;
    }
    
    p,
    li {
        font-size: 17px;
    }

    a {
        font-size: 17px;
    }

    button {
        font-size: 17px;
        padding: 4px 8px;
        border-radius: 8px;
    }

    .is-block > h4 {
        font-size: 24px;
    }

    #reviews-section {
        height: 350px;
    }

    #reviews-container {
        height: 300px;
    }

    .review-box {
        height: 200px;
    }

    .review-box h4 {
        font-size: 24px;
    }

    #nav-links.active {
        width: 100%;
    }

    #index-banner {
        height: 400px;
        display: flex;
        align-items: center;
        padding: 0;
    }
    
    #ibanner-text {
        width: 90%;
    }
    
    #index-one {
        flex-direction: column-reverse;
        gap: 16px;
    }
    
    #index-one img {
        height: 200px;
        align-self: start;
    }
    
    #i1-text {
        width: 95%;
        gap: 8px;
    }

    #reasons-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }
    
    .reason {
        display: flex;
        gap: 16px;
        padding: 16px;
    }

    .reason-text h4 {
        text-align: left;
    }

    .mostep-box {
        height: 225px;
        width: 200px;
    }

    .is-block h4 {
        padding: 8px 16px;
    }

    .contact-form {
        height: 600px;
        flex: none;
        width: 80%;
        padding: 8px 32px;
    }

    .contact-form input {
        height: 25px;
        border-radius: 2px;
        font-size: 17px;
    }
    
    .contact-form input,
    textarea {
        height: 29px;
        font-size: 17px;
    }
    
    .reg-input {
        width: 100%;
    }
    
    textarea {
        height: 260px;
        resize: none;
    }    

    footer > .page-container {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: left;
    }
}

@media (max-width: 600px){
    .page-container {
        max-width: 425px;
    }

    .bar {
        width: 16px;
        margin: 3px auto;
        transition: 500ms;
    }
    
    .hamburger.active .bar:nth-child(1) {
        background-color: var(--light);
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
        background-color: var(--light);
    }

    #ibanner-text {
        width: 80%;
    }

    #index-one img {
        height: 175px;
    }

    .is-block h4 {
        font-size: 20px;
        padding: 8px 8fpx;
    }

    #contact-text {
        padding-top: 120px;
    }

    .gallery-contact-active #contact-text {
        padding-top: 32px;
    }
}

@media (max-width: 425px){
    .page-container {
        max-width: 375px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 16px;
    }
    
    h2 {
        font-size: 22px;
        margin-bottom: 4px;
    }
    
    h3 {
        font-size: 20px;
    }

    #reviews-container {
        height: 400px;
        grid-template-columns: repeat(3, 300px);
        grid-auto-columns: 300px;
    }

    .review-box {
        width: 250px;
    }

    fieldset {
        display: contents;
    }

    fieldset input {
        width: 100%;
    }
}

@media (max-width: 375px){
    .page-container {
        max-width: 320px;;
    }

    #ibanner-text {
        width: 100%;
        border-radius: 0;
    }

    .reason-img {
        width: 10%;
    }

    .review-box {
        height: 300px;
        text-align: left;
    }

    .contact-form {
        height: 600px;
        flex: none;
        width: 80%;
        padding: 8px 16px;
    }
}

@media (max-width: 320px){
    .page-container {
        max-width: 100%;
    }

    .hamburger {
        right: 10px;
        top: 10px;
    }

    .hamburger.active {
        right: 10px;
    }
}

/*About.html*/

#about-banner {
    box-sizing: border-box;
    height: 1000px;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-picture-banner {
    width: 100%;
    position: relative;
}

#biba1 {
    background-image: url(Resources/banner-about/ab1-bath-renovation.jpg);
    opacity: 1;
}

#biba2 {
    background-image: url(Resources/banner-about/ab2-kitchen-renovation.jpg);
}

#biba3 {
    background-image: url(Resources/banner-about/ab3-bath-renovation.jpg);
}

#biba4 {
    background-image: url(Resources/banner-about/ab4-basement-finish.jpg);
}

#biba5 {
    background-image: url(Resources/banner-about/ab5-bath-renovation.jpg);
}

#about-transparent-banner {
    height: 100%;
    width: 100%;
    background: radial-gradient(ellipse at bottom, hsla(34, 38%, 96%, 0.2), hsla(41, 100%, 45%, 0.8)),
                linear-gradient(hsla(347, 100%, 35%, 0.6), hsla(347, 100%, 7%, 0.7));
    padding-bottom: 50px;
    position: relative;
}

#abanner-headings {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
    padding-left: 48px;
}

#abanner-text {
    box-sizing: content-box;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: var(--light);
    padding: 24px 64px;
    border-radius: 0 0 0 128px;
    box-shadow: inset 8px 8px 6px var(--beige);
}

#abanner-text h5 {
    font-size: 40px;
}

#about-one {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#about-projects {
    width: 60%;
    text-align: justify;
}

#about-projects h2 {
    text-align: left;
}

#about-pictures {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: right;
}

#pictures-container {
    display: grid;
    grid-template: repeat(2, 400px) / repeat(2, 400px);
    align-content: center;
    justify-content: center;
    gap: 16px;
}

.picture {
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 4px 0 var(--beige);
    transition: 800ms ease-in;
}

#about-warranty {
    background-color: var(--beige);
    padding: 32px 0;
    margin-bottom: 64px;
}

#about-warranty > .page-container {
    width: 50%;
    background-color: var(--light);
    padding: 32px;
    margin-bottom: 0px;
    text-align: justify;
    border-radius: 32px;
    outline: none;
    box-shadow: inset 4px 4px 8px 0 var(--beige);
}

@media (max-width: 2560px){
    #about-banner {
        height: 550px;
    }

    #abanner-headings {
        width: 55%;
        padding-left: 16px;
    }

    #abanner-text {
        width: 35%;
        padding: 16px 32px;
        border-radius: 0 0 0 64px;
        box-shadow: inset 6px 6px 4px var(--beige);
    }

    #abanner-text h5 {
        font-size: 24px;
    }

    #about-projects {
        width: 50%;
    }

    #about-pictures {
        width: 40%;
    }

    #pictures-container {
        grid-template: repeat(2, 200px) / repeat(2, 200px);
    }
    
    .picture {
        height: 200px;
        width: 200px;
    }

    #about-warranty > .page-container {
        width: 60%;
    }
}

@media (max-width: 1440px){
    #abanner-headings {
        width: 65%;
    }

    #abanner-text {
        width: 35%;
    }

    #about-one {
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    #about-pictures {
        transform: scaleX(-1);
    }
}

@media (max-width: 1024px){
    #about-banner {
        height: 750px;
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }

    #about-transparent-banner {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #abanner-headings {
        align-self: flex-start;
        width: 90%;
    }
    
    #abanner-text {
        box-sizing: border-box;
        width: 80%;
        padding: 16px 32px;
        height: 20%;
        align-self: flex-end;
    }

    #about-one {
        flex-direction: column;
    }

    #about-projects {
        width: 100%;
        text-align: justify;
    }
    
    #about-projects h2 {
        text-align: left;
    }
    
    #about-pictures {
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 64px;
    }
    
    #pictures-container {
        display: grid;
        grid-template: repeat(2, 200px) / repeat(2, 200px);
        align-content: center;
        justify-content: center;
        gap: 16px;
    }

    #about-warranty {
        margin-bottom: 0;
    }
}

@media (max-width: 768px){
    #about-banner {
        height: 500px;
        padding-left: 0;
    }

    #abanner-headings {
        box-sizing: border-box;
        padding-left: 16px;
        width: 100%;
        height: 70%;
    }
    
    #abanner-text {
        width: 90%;
        height: 25%;
        margin-bottom: 48px;
    }

    #abanner-text h5 {
        font-size: 20px;
    }

    #about-one {
        gap: 80px;
    }

    #about-pictures {
        width: 100%;
        transform: scaleX(1);
        margin-top: 16px;
    }
}

@media (max-width: 600px){
    #about-banner {
        height: 650px;
    }

    #about-pictures #p1 {
        background-color: var(--orange);
        z-index: 2;
        transform: rotate(-17deg) translate(15px, 0) ;
    }
    
    #about-pictures #p2 {
        background-color: yellow;
        z-index: 1;
        transform: rotate(17deg) translate(-15px, -10px);
    }
    
    #about-pictures #p3 {
        background-color: var(--red);
        z-index: 3;
        transform: rotate(7deg) translate(15px, -25px);
    }
    
    #about-pictures #p4 {
        background-color: var(--wine-red);
        z-index: 4;
        transform: translate(-15px, -45px) rotate(-8deg);
    }

    #pictures-container {
        grid-template: repeat(2, 150px) / repeat(2, 150px);
    }

    #about-pictures .picture {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 425px){
    #about-banner {
        height: 500px;
    }

    #abanner-headings {
        box-sizing: border-box;
        padding-left: 16px;
        width: 100%;
        height: 40%;
        margin-top: 32px;
    }
    
    #abanner-text {
        height: 50%;
    }
    
}

@media (max-width: 375px){
    #about-banner {
        height: 800px;
        margin-top: none;
    }

    #abanner-headings {
        padding: 0 16px;
    }

    #abanner-text {
        height: 30%;
    }

    #pictures-container {
        grid-template: repeat(2, 125px) / repeat(2, 125px);
    }

    #about-pictures .picture {
        width: 125px;
        height: 125px;
    }
}

@media (max-width: 320px){
    #about-banner {
        height: 900px;
    }
}

/*Services.html*/

#services-list {
    display: grid;
    grid-template: repeat(5, 450px) / repeat(5, 1fr);
    gap: 32px;
}

.sl-text {
    box-sizing: border-box;
    grid-column: span 3;
    background-color: var(--beige);
    color: var(--wine-red);
    height: 100%;
    padding: 80px;
    text-align: justify;
    border: 16px outset var(--beige);
    transition: 800ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sl-text:hover,
.sl-text .active {
    background-color: var(--light);
}

#services-list img {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    grid-column: span 2;
    border: 16px outset var(--beige);
}

#service-empty {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: var(--beige);
    border: 16px outset var(--beige);
    grid-column: span 2;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}

#services h5 {
    color: var(--red);
    font-size: 40px;
}

.threed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 128px;
}

@media (max-width: 2560px){
    #services-list {
        grid-template: repeat(4, 330px) / repeat(5, 1fr);
        gap: 16px;
    }

    .sl-text {
        padding: 48px;
        border: 8px outset var(--beige);
    }

    #services-list img {
        border: 8px outset var(--beige);
    }

    #service-empty {
        border: 8px outset var(--beige);
    }

    #services h5 {
        font-size: 24px;
    }

    .threed-container {
        gap: 64px;
    }
}

@media (max-width: 1440px){
    #services-list {
        grid-template: repeat(4, 400px) / repeat(5, 1fr);
    }
}

@media (max-width: 1024px){
    #services-list {
        grid-template-rows: repeat(4, 550px);
    }

    .sl-text {
        padding: 32px;
    }
}

@media (max-width: 768px){
    #services-list {
        grid-template-rows: 300px 200px repeat(2, 300px) 200px 300px;
        grid-template-columns: repeat(2, 1fr);
    }

    .sl-text {
        grid-column: span 2;
    }
    
    #services-list img,
    #service-empty {
        grid-column: span 1;
    }

    .sl-text {
        padding: 16px;
    }
}

@media (max-width: 600px){
    #services-list {
        grid-template-rows: 360px 200px repeat(2, 360px) 200px 360px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 425px){
    #services-list {
        grid-template-rows: 400px 150px 400px 500px 150px 400px;
    }
}

@media (max-width: 375px){
}

@media (max-width: 320px){
    #services-list {
        grid-template-rows: 550px 150px 550px 625px 150px 550px;
    }
}

/*Gallery.html*/

#gallery-ba-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 128px;
    margin: 16px 0;
}

#gallery-ba-container .ba-image {
    height: 750px;
    width: 600px;
    margin-bottom: 24px;
}

.ba-image:active {
    box-shadow: none;
}

.ba-img-container {
    height: 100%;
    width: 100%;
}

#gallery-two {
    margin-top: 100px;  
    position: relative;
}

#gallery-two > #pictures-container {
    grid-template: repeat(2, 400px) / repeat(2, 400px);
    transition: 500ms ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#gallery-two .picture {
    height: 400px;
    width: 400px;
}

#p1 {
    background-image: url(Resources/pictures-loop/p101.jpg);
    border: 20px solid var(--orange);
    z-index: 2;
    transform: rotate(-17deg) translate(-50px, 0) ;
}

#p2 {
    background-image: url(Resources/pictures-loop/p201.jpg);
    border: 20px solid yellow;
    z-index: 1;
    transform: rotate(17deg) translate(-125px, -10px);
}

#p3 {
    background-image: url(Resources/pictures-loop/p301.jpg);
    border: 20px solid var(--red);
    z-index: 3;
    transform: rotate(7deg) translate(-75px, -25px);
}

#p4 {
    background-image: url(Resources/pictures-loop/p401.jpg);
    border: 20px solid var(--wine-red);
    z-index: 4;
    transform: translate(-125px, -45px) rotate(-8deg);
}

.gallery-button {
    position: absolute;
    right: 300px;
    top: 200px;
    height: 400px;
    width: 400px;
    border-radius: 100vh;
    box-shadow: 8px 8px 24px 0 var(--light-red);
    background-color: var(--red);
    border: 16px outset var(--wine-red);
    transition: 500ms ease;
    opacity: 1;
    visibility: visible;
}

.gallery-button-inactive {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.gallery-button:hover {
    box-shadow: none;
    background-color: var(--red);
    border: 0px outset var(--wine-red);
}

.gallery-container {
    width: 90%;
    transition: 3s ease-in;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
    transform: translateY(-50px);
}

.gallery-container h2 {
    opacity: 0;
    transition: 3s ease-in;
}

.active-gc {
    gap: 64px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateY(0px);
    height: 1500px;
    overflow-y: scroll;
}

.active-gc h2 {
    width: 100%;
    opacity: 1;
}

.gc-img {
    height: 600px;
    width: 600px;
    box-shadow: 0 0 8px 0 var(--wine-red);
    transition: 200ms ease-in;
    opacity: 0;
    cursor: pointer;
}

.gc-img-appear {
    opacity: 0.8;
}

.gc-img-appear:hover {
    opacity: 1;
    box-shadow: 0 0 32px 0 var(--wine-red);
    cursor: pointer;
}

.gallery-contact {
    margin-top: 900px;
    transition: 1s;
}

.gallery-contact-active {
    margin-top: 0px;
}

#gallery-img-display {
    box-sizing: border-box;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(15px);
    background-color: hsla(34, 38%, 82%, 0.7);
    z-index: 22;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    transition: 700ms ease-in;
}

#gid-exit {
    position: absolute;
    top: 128px;
    right: 120px;
}

#gallery-img-popped {
    height: 90vh;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 48px var(--wine-red);
}

#gallery-img-display.gid-show {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 2560px){
    #gallery-ba-container {
        gap: 32px;
    }
    
    #gallery-ba-container > div {
        margin-bottom: 32px;
    }
    
    #gallery-ba-container .ba-image {
        height: 675px;
        width: 540px;
    }

    #gallery-img-popped {
        height: 80vh;
    }

    #gallery-two {
        margin-top: none;  
    }

    #gallery-two > #pictures-container {
        grid-template: repeat(2, 300px) / repeat(2, 300px);
    }
    
    #gallery-two .picture {
        height: 300px;
        width: 300px;
    }

    #p1 {
        border: 8px solid var(--orange);
    }
    
    #p2 {
        border: 8px solid yellow;
    }
    
    #p3 {
        border: 8px solid var(--red);
    }
    
    #p4 {
        border: 8px solid var(--wine-red);
    }

    .gallery-button {
        right: 75px;
        height: 250px;
        width: 250px;
        background-color: var(--red);
        border: 8px outset var(--wine-red);
    }

    .active-gc {
        gap: 32px;
        height: 1000px;
    }
    
    .gc-img {
        height: 400px;
        width: 400px;
        box-shadow: 0 0 8px 0 var(--wine-red);
    }
    
    .gc-img-appear:hover {
        box-shadow: 0 0 16px 0 var(--wine-red);
    }

    .gallery-contact {
        margin-top: 700px;
        transition: 1s;
    }

    .gallery-contact-active {
        margin-top: 0px;
    }

    #gid-exit {
        right: 64px;
    }

    #gallery-img-popped {
        box-shadow: 0 0 48px var(--wine-red);
    }
}

@media (max-width: 1440px){
    .gc-img {
        height: 275px;
        width: 275px;
    }

    #gallery-img-popped {
        height: 70vh;
    }

    #gallery-ba-container .ba-image {
        height: 500px;
        width: 400px;
        margin-bottom: 16px;
    }
}

@media (max-width: 1024px){
    #gallery-two > #pictures-container {
        grid-template: repeat(2, 200px) / repeat(2, 200px);
    }

    #gallery-two .picture {
        height: 200px;
        width: 200px;
    }

    .gallery-button {
        top: 100px;
        right: 0px;
        height: 220px;
        width: 220px;
        border-radius: 110px;
    }

    #gallery-img-popped {
        height: 768px;
    }

    .gallery-contact {
        margin-top: 400px;
    }

    .gallery-contact-active {
        margin-top: 0px;
    }
}

@media (max-width: 768px){
    #gallery-img-popped {
        height: 600px;
    }
}

@media (max-width: 600px){
    #p1 {
        transform: rotate(-17deg) translate(20px, 0) ;
    }
    
    #p2 {
        transform: rotate(17deg) translate(-20px, -10px);
    }
    
    #p3 {
        transform: rotate(7deg) translate(15px, -25px);
    }
    
    #p4 {
        transform: translate(-15px, -45px) rotate(82deg);
    }
    
    .gallery-button {
        top: 400px;
        right: 25%;
        height: 200px;
        width: 200px;
        border-radius: 100px;
    }

    #gallery-img-popped {
        height: 425px;
    }

    .gallery-contact {
        margin-top: 500px;
    }

    .gallery-contact-active {
        margin-top: 0px;
    }
}

@media (max-width: 425px){
    #gallery-two > #pictures-container {
        grid-template: repeat(2, 150px) / repeat(2, 150px);
    }

    #gallery-two .picture {
        height: 150px;
        width: 150px;
    }

    .gallery-button {
        top: 325px;
    }

    #gallery-img-popped {
        height: 375px;
    }

    #gallery-ba-container .ba-image {
        height: 375px;
        width: 300px;
        margin-bottom: 16px;
    }
}

@media (max-width: 375px){
    #gallery-img-popped {
        height: 320px;
    }
}

@media (max-width: 320px){
    #gallery-two > #pictures-container {
        grid-template: repeat(2, 125px) / repeat(2, 125px);
    }

    #gallery-two .picture {
        height: 125px;
        width: 125px;
    }

    .gallery-button {
        top: 250px;
        right: 0;
        align-self: center;
    }
}

/*Contact.html*/

#ch-picture-text {
    width: 100%;
    height: 100%;
    background-image: url(Resources/banner-contact/cb1-kitchen-renovation.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 800ms ease-in;
    position: relative;
}

#bibc1 {
    opacity: 1;
    background-image: url(Resources/banner-contact/cb1-kitchen-renovation.jpg);
}

#bibc2 {
    background-image: url(Resources/banner-contact/cb2-basement-finish.jpg);
}

#bibc3 {
    background-image: url(Resources/banner-contact/cb3-bath-renovation.jpg);
}

#ch-transparent-text {
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, hsla(240, 20%, 96%, 0.6) 60%, hsla(41, 100%, 49%, 0.7)),
                linear-gradient(180deg, hsla(347, 100%, 27%, 0.8), hsla(347, 100%, 35%, 0.5));
    position: relative;
}

#contact-hero {
    box-sizing: content-box;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 16px;
}

#ch-text {
    width: 50%;
    padding-left: 16px;
}

.contact-page-form {
    box-sizing: border-box;
    width: 40%;
    height: 100%;
}


#small-form {
    display: none;
}

#contact-one > h5 {
    text-align: center;
    margin-bottom: 32px;
}

#contact-info-row {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.cinfo-img {
    height: 93px;
    width: 93px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#cinfo-email {
    background-image: url(Resources/icons/email.png);
}

#cinfo-phone {
    background-image: url(Resources/icons/phone.png);
}

#cinfo-location {
    background-image: url(Resources/icons/location.png);
}

#cinfo-insta {
    background-image: url(Resources/icons/Instagram_Glyph_Gradient.png);
}

#contact-two {
    padding: 0 16px;
}

#google-map {
    width: 70%;
    margin: auto;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 16px var(--wine-red);
}

#locations-grid {
    display: grid;
    grid-template: repeat(3, 64px) / repeat(9, 1fr);
    align-items: center;
    justify-items: center;
}

.location-container {
    grid-column: span 2;
}

.location-block {
    border-left: 4px outset var(--olive);
    text-align: left;
    padding-left: 12px;
    white-space: nowrap;
}

.il-1 {
    display: none;
}

.il-3 {
    display: none;
}

@media (max-width: 2560px){
    #contact-hero {
        height: 650px;
    }
    
    .cinfo-img {
        height: 62px;
        width: 62px;
    }

    #google-map {
        width: 90%;
        height: 600px;
        box-shadow: 0 0 8px var(--wine-red);
    }
}

@media (max-width: 1440px){
    #ch-text {
        width: 40%;
    }
    
    .contact-page-form {
        box-sizing: border-box;
        width: 50%;
        height: 100%;
    }

    #contact-info-row {
        gap: 32px;
    }
}

@media (max-width: 1024px){
    #contact-hero {
        height: 600px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        padding-left: 0;
    }

    #ch-picture-text {
        margin-bottom: 0px;
    }

    #ch-text {
        height: 100%;
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-page-form {
        box-sizing: border-box;
        width: 100%;
        height: 700px;
    }

    #main-form {
        display: none;
    }

    #small-form {
        display: flex;
        margin-bottom: 48px;
    }
    
    #contact-info-row {
        gap: 48px;
    }

    #locations-grid {
        display: grid;
        grid-template: repeat(4, 64px) / repeat(7, 1fr);
        align-items: center;
        justify-items: center;
    }
    
    .location-block {
        border-left: 4px outset var(--olive);
        text-align: left;
        padding-left: 16px;
    }

    .il-1 {
        display: block;
    }

    .il-2 {
        display: none;
    }
}

@media (max-width: 768px){
    #contact-hero {
        height: 500px;
    }

    #ch-text {
        width: 600px;
    }

    #contac-page-form {
        height: 600px;
    }

    .cinfo-img {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 600px){
    #ch-text {
        width: 425px;
    }

    #contact-one h2 {
        text-align: left;
    }

    #contact-one > h5 {
        text-align: left;
        margin-bottom: 32px;
    }

    #contact-info-row {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        gap: 32px;
        flex-wrap: nowrap;
    }

    #google-map {
        height: 450px;
    }

    #locations-grid {
        display: grid;
        grid-template: repeat(6, 64px) / repeat(5, 1fr);
        align-items: center;
        justify-items: center;
    }

    .il-1 {
        display: none;
    }

    .il-3 {
        display: block;
    }
}

@media (max-width: 425px){
    #ch-text {
        width: 375px;
    }

    #google-map {
        height: 400px;
    }
}

@media (max-width: 375px){
    #ch-text {
        width: 325px;
    }

    #google-map {
        height: 300px;
    }

    #locations-grid {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .il-3 {
        display: none;
    }

    .location-container {
        text-align: left;
        display: flex;
        width: 80%;
        justify-content: left;
    }

    .location-two   {
        justify-content: right;
    }

    .il-4 {
        display: none;
    }
}

@media (max-width: 320px){
    #ch-text {
        max-width: 100%;
    }
}

/*Individual services pages*/

#service-page-gallery {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 32px;
    justify-content: center;
    max-height: 1000px;
    overflow-y: auto;
}

#service-page-gallery .gc-img {
    height: 350px;
    width: 350px;
    opacity: 0.8;
    transition: 500ms ease;
}

#service-page-gallery .gc-img:hover {
    opacity: 1;
}